


body {
  display: flex;
  margin: 0;
  padding: 0;
  background-image: url("https://img.freepik.com/fotos-premium/padrao-de-fundo-de-varias-pilhas-de-livros_974629-275700.jpg?semt=ais_se_enriched&w=740&q=80");
  background-size: cover;          /* cobre a tela inteira */
  background-position: center;     /* centraliza */
  background-repeat: no-repeat;
  background-attachment: fixed;    /* efeito parallax suave */
}

/* Overlay para deixar clarinho */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.50); /* clareia */
  backdrop-filter: brightness(1.1);
  z-index: -1;
}


/* Conteúdo da página */
.dashboard-content {
  position: absolute;
  left: 240px;        /* largura da sidebar */
  wwidth: calc(100% - 240px);
  height: calc(100vh - 60px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}



/* Sidebar */
.sidebar {
  width: 240px;
  height: 100vh;
  background: #494040ff;
  padding: 24px 16px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sidebar-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #eae5e5ff;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar-link {
  padding: 10px 14px;
  border-radius: 8px;
  text-decoration: none;
  color: #eae5e5ff;
  font-weight: 500;
  transition: 0.2s;
}

.sidebar-link:hover {
  background: #857474ff;
}

.sidebar-link.active {
  background: #857474ff;
  color: white;
}


/* Topbar */
.topbar {
  width: calc(100% - 240px);
  height: 60px;
  display: flex;
  justify-content: center;  /* Texto centralizado */
  align-items: center;

  position: fixed;
  top: 0;
  left: 240px;
  font-size: 1.2rem;
  font-weight: 600;
}


.cards-container {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.book-card {
  background: white;
  border: 1px solid #eee;
  padding: 20px;
  width: 220px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.book-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.book-status {
  margin-top: 10px;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: capitalize;
}

.status-available {
  background: #d4f5d0;
  color: #147a2e;
}

.status-unavailable {
  background: #f7d3d4;
  color: #9b1c1c;
}

